@using CrudDelicious.Models
@model Dish
<a href ="/">Home</a>
<h1>@Model.Name</h1>
<h2>@Model.Chef</h2>
<p>@Model.Description</p>
<p>Calories: @Model.Calories</p>
<p>Tastiness: @Model.Tastiness</p>
<a href = "/edit/@Model.id">Edit</a>
<a href = "/delete/@Model.id">Delete</a>